stem # tor
flask # web
mcipc # gaming
secure # manager
psutil # misc
distro # misc
qrcode # tools
pyyaml>=6.0 # tools
requests # api
markdown # blog
Flask-QRcode # tools
Flask-Caching # web
Flask-Limiter # web