<!--=| Start of _bottom.html |=-->
{% if not lite %}
    </main>

    <footer>
        <p>
            <a href="https://mit-license.org/">License</a> <strong>·</strong>
            <a href="/legal">Legal</a> <strong>·</strong>
            <a href="https://github.com/nsde/web">Source</a> <strong>·</strong>
            <a href="mailto:neostyxde@gmail.com">neostyxde@gmail.com</a> <strong>·</strong>
            <a href="http://e2zzi4xbsxhqiqcwkfronjfi5pyqgyyxsfym6f2tzw5pruqm4edgqhyd.onion/">Hidden Service</a> <strong>·</strong>
            <a href="#⤒"><i style="font-size: 1rem;" class="bi bi-arrow-up"></i></a>

        </p>
        <p>
            All information is supplied without guarantee.
            Errors and omissions excepted.
        </p>
        <details>
            <summary>Technical details</summary>
            <p class="theme-display theme-color">
                Theme:
            </p>
        </details>
    </footer>

    </body>
{% endif %}
</html>
<!--=| End of _bottom.html |=-->