<!--=| Start of _bottom.html |=-->
{% if not lite %}
    </main>

    <footer>
        <p>
            <a href="/legal">Legal (Privacy/ToS/License)</a> <strong>·</strong>
            <a href="#⤒"><i style="font-size: 1rem;" class="bi bi-arrow-up"></i></a>
            
        </p>
        <p>
            All information is supplied without guarantee.
            Errors and omissions excepted.
        </p>
        <details>
            <summary>Technical details</summary>
            <p class="theme-display theme-color">
                Theme:
            </p>
            <a href="https://github.com/nsde/web">Source</a> <strong>·</strong>
            <a href="http://e2zzi4xbsxhqiqcwkfronjfi5pyqgyyxsfym6f2tzw5pruqm4edgqhyd.onion/">Hidden Service</a> <strong>·</strong>
            <a href="https://onlix.me/modules">Modules</a>
            <br>
            <i id="render-notice"></i>
        </details>
            
        <noscript>
            <i class="bi bi-exclamation-octagon red"></i>
            <p><strong>JavaScript is not enabled or working properly.</strong></p>
            <p>This can break this website's functionality!</p>
            <p><a href="https://enable-javascript.com/">How to enable JavaScript</a></p>
        </noscript>
    </footer>

    </body>
{% endif %}
</html>
<!--=| End of _bottom.html |=-->