<!-- Beginning of _bottom.html -->
</main>

<footer>
    <p>
        <a href="https://mit-license.org/">License</a> <strong>·</strong>
        <a href="/legal">Legal</a> <strong>·</strong>
        <a href="https://github.com/nsde/web">Source</a> <strong>·</strong>
        <a href="mailto:neostyxde@gmail.com">neostyxde@gmail.com</a> <strong>·</strong>
        <a href="http://e2zzi4xbsxhqiqcwkfronjfi5pyqgyyxsfym6f2tzw5pruqm4edgqhyd.onion/">Hidden Service</a>
    </p>
    <p>
        All information is supplied without guarantee.
        Errors and omissions excepted.
    </p>

</footer>

</body>
</html>