<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>{{ title }} · ONLIX</title>

    <link href="/styles/lila.css"  rel="stylesheet">
    <link href="/styles/bi.css"    rel="stylesheet">

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="msapplication-TileColor" content="#ee75de">
    <meta name="msapplication-TileImage" content="https://onlix.me/favicons/150.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#ee75de">
    <meta name="apple-mobile-web-app-title" content="{{ title }} · ONLIX">
    <meta name="application-name" content="{{ title }} · ONLIX">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ee75de">
    <meta name="robots" content="index, follow">
    <meta name="author" content="ONLIX">
    <meta name="description" content="{{ description }}">

    <meta property="og:description"
        content="{{ description }}">
    <meta property="og:image" content="https://onlix.me/images/{{ image or 'wave.jpg' }}">
    <meta property="og:locale" content="en">
    <meta property="og:site_name" content="onlix.me">
    <meta property="og:title" content="{{ title }} · ONLIX">
    <meta property="og:type" content="website">
    <meta property="og:url" content="/">
    <!-- <meta property="article:published_time" content="2020-08-20T04:49:02.278Z"> -->
    <meta property="article:author" content="ONLIX">
    <meta property="article:section" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="onlix.me">
    <meta name="twitter:url" content="/">
    <meta name="twitter:site" content="/">
    <meta name="twitter:creator" content="ONLIX">
    <meta name="twitter:title" content="{{ title }} · ONLIX">
    <meta name="twitter:description"
        content="{{ description }}">
    <meta name="twitter:image:src" content="https://onlix.me/images/{{ image or 'wave.jpg' }}">

    <link rel="canonical" href="/">
    <link rel="apple-touch-icon" href="/favicons/favicon.ico" sizes="180x180">
    <link rel="icon" href="/favicons/favicon.ico" sizes="32x32">
    <link rel="icon" href="/favicons/favicon.ico" sizes="16x16">
    <link rel="image_src" href="/favicons/favicon.ico">

    <script>
        class Accordion {
            constructor(el) {
              // Store the <details> element
              this.el = el;
              // Store the <summary> element
              this.summary = el.querySelector('summary');
              // Store the <div class="content"> element
              this.content = el.querySelector('.content');
          
              // Store the animation object (so we can cancel it if needed)
              this.animation = null;
              // Store if the element is closing
              this.isClosing = false;
              // Store if the element is expanding
              this.isExpanding = false;
              // Detect user clicks on the summary element
              this.summary.addEventListener('click', (e) => this.onClick(e));
            }
          
            onClick(e) {
              // Stop default behaviour from the browser
              e.preventDefault();
              // Add an overflow on the <details> to avoid content overflowing
              this.el.style.overflow = 'hidden';
              // Check if the element is being closed or is already closed
              if (this.isClosing || !this.el.open) {
                this.open();
              // Check if the element is being openned or is already open
              } else if (this.isExpanding || this.el.open) {
                this.shrink();
              }
            }
          
            shrink() {
              // Set the element as "being closed"
              this.isClosing = true;
              
              // Store the current height of the element
              const startHeight = `${this.el.offsetHeight}px`;
              // Calculate the height of the summary
              const endHeight = `${this.summary.offsetHeight}px`;
              
              // If there is already an animation running
              if (this.animation) {
                // Cancel the current animation
                this.animation.cancel();
              }
              
              // Start a WAAPI animation
              this.animation = this.el.animate({
                // Set the keyframes from the startHeight to endHeight
                height: [startHeight, endHeight]
              }, {
                duration: 400,
                easing: 'ease-out'
              });
              
              // When the animation is complete, call onAnimationFinish()
              this.animation.onfinish = () => this.onAnimationFinish(false);
              // If the animation is cancelled, isClosing variable is set to false
              this.animation.oncancel = () => this.isClosing = false;
            }
          
            open() {
              // Apply a fixed height on the element
              this.el.style.height = `${this.el.offsetHeight}px`;
              // Force the [open] attribute on the details element
              this.el.open = true;
              // Wait for the next frame to call the expand function
              window.requestAnimationFrame(() => this.expand());
            }
          
            expand() {
              // Set the element as "being expanding"
              this.isExpanding = true;
              // Get the current fixed height of the element
              const startHeight = `${this.el.offsetHeight}px`;
              // Calculate the open height of the element (summary height + content height)
              const endHeight = `${this.summary.offsetHeight + this.content.offsetHeight}px`;
              
              // If there is already an animation running
              if (this.animation) {
                // Cancel the current animation
                this.animation.cancel();
              }
              
              // Start a WAAPI animation
              this.animation = this.el.animate({
                // Set the keyframes from the startHeight to endHeight
                height: [startHeight, endHeight]
              }, {
                duration: 400,
                easing: 'ease-out'
              });
              // When the animation is complete, call onAnimationFinish()
              this.animation.onfinish = () => this.onAnimationFinish(true);
              // If the animation is cancelled, isExpanding variable is set to false
              this.animation.oncancel = () => this.isExpanding = false;
            }
          
            onAnimationFinish(open) {
              // Set the open attribute based on the parameter
              this.el.open = open;
              // Clear the stored animation
              this.animation = null;
              // Reset isClosing & isExpanding
              this.isClosing = false;
              this.isExpanding = false;
              // Remove the overflow hidden and the fixed height
              this.el.style.height = this.el.style.overflow = '';
            }
          }
          
          document.querySelectorAll('details').forEach((el) => {
            new Accordion(el);
          });
    </script>
</head>

{% if dark_image %}
    <body class="dark">
{% else %}
    <body>
{% endif %}
        <header class="{{ cover_classes or 'transparent-35' }}" style="--image: url('https://onlix.me/images/{{ image or 'wave.jpg' }}')">

        <nav>
            {% if title == "Home" %}
                <a href="/" class="current"><i class="bi bi-house"></i> Home</a>
            {% else %}
                <a href="/"><i class="bi bi-house"></i> Home</a>
            {% endif %}
            
            {% if "Blog" in title %}
                <a href="/blog" class="current"><i class="bi bi-newspaper"></i> Blog</a>
            {% else %}
                <a href="/blog"><i class="bi bi-newspaper"></i> Blog</a>
            {% endif %}

            {% if title == "Contact" %}
            <a href="/contact" class="current"><i class="bi bi-envelope"></i> Contact</a>
            {% else %}
            <a href="/contact"><i class="bi bi-envelope"></i> Contact</a>
            {% endif %}

            <a href="https://github.com/nsde"><i class="bi bi-github"></i> GitHub <i class="bi bi-box-arrow-up-right" style="opacity: 0.5;"></i></a>
        </nav>
        <h1>{{ title }}</h1>
        <p>{{ description }}</p>
        <!-- <button onclick="window.location.href='#main'"><i style="font-size: 1rem;" class="bi bi-arrow-down"></i></button> -->
    </header>

    <main id="main">
<!-- End of _top.html -->