<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>{{ title }} · ONLIX</title>

    <link href="/style/lila.css"  rel="stylesheet">
    <link href="/style/bi.css"    rel="stylesheet">

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="msapplication-TileColor" content="#3a324b">
    <meta name="msapplication-TileImage" content="https://onlix.me/favicons/150.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#3a324b">
    <meta name="apple-mobile-web-app-title" content="{{ title }} · ONLIX">
    <meta name="application-name" content="{{ title }} · ONLIX">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#3a324b">
    <meta name="robots" content="index, follow">
    <meta name="author" content="ONLIX">
    <meta name="description" content="{{ description }}">

    <meta property="og:description"
        content="{{ description }}">
    <meta property="og:image" content="https://onlix.me/images/{{ image or 'wave.jpg' }}">
    <meta property="og:locale" content="en">
    <meta property="og:site_name" content="onlix.me">
    <meta property="og:title" content="{{ title }} · ONLIX">
    <meta property="og:type" content="website">
    <meta property="og:url" content="/">
    <!-- <meta property="article:published_time" content="2020-08-20T04:49:02.278Z"> -->
    <meta property="article:author" content="ONLIX">
    <meta property="article:section" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="onlix.me">
    <meta name="twitter:url" content="/">
    <meta name="twitter:site" content="/">
    <meta name="twitter:creator" content="ONLIX">
    <meta name="twitter:title" content="{{ title }} · ONLIX">
    <meta name="twitter:description"
        content="{{ description }}">
    <meta name="twitter:image:src" content="https://onlix.me/images/{{ image or 'wave.jpg' }}">

    <link rel="canonical" href="/">
    <link rel="apple-touch-icon" href="/favicons/favicon.ico" sizes="180x180">
    <link rel="icon" href="/favicons/favicon.ico" sizes="32x32">
    <link rel="icon" href="/favicons/favicon.ico" sizes="16x16">
    <link rel="image_src" href="/favicons/favicon.ico">
</head>

{% if dark_image %}
    <body class="dark">
{% else %}
    <body>
{% endif %}
        <header class="{{ cover_classes or 'transparent-5' }}" style="--image: url('https://onlix.me/images/{{ image or 'wave.jpg' }}')">

        <nav>
            {% if title == "Home" %}
                <a href="/" class="current"><i class="bi bi-house"></i> Home</a>
            {% else %}
                <a href="/"><i class="bi bi-house"></i> Home</a>
            {% endif %}
            
            {% if "Blog" in title %}
                <a href="/blog" class="current"><i class="bi bi-newspaper"></i> Blog</a>
            {% else %}
                <a href="/blog"><i class="bi bi-newspaper"></i> Blog</a>
            {% endif %}

            {% if title == "Contact" %}
            <a href="/contact" class="current"><i class="bi bi-envelope"></i> Contact</a>
            {% else %}
            <a href="/contact"><i class="bi bi-envelope"></i> Contact</a>
            {% endif %}

            <a href="https://github.com/nsde"><i class="bi bi-github"></i> GitHub <i class="bi bi-box-arrow-up-right" style="opacity: 0.5;"></i></a>
        </nav>
        <h1>{{ title }}</h1>
        <p>{{ description }}</p>
        <!-- <button onclick="window.location.href='#main'"><i style="font-size: 1rem;" class="bi bi-arrow-down"></i></button> -->
    </header>

    <main class="amoled" id="main">
<!-- End of _top.html -->