{% with title="LixChat", description="Experimental chat! Warning: These chats might not be 100% secure and are not moderated. Please do not trust any links etc. in here!" %} {% include '_top.html' %} {% endwith %}

<h2>#{{ channel or "testing" }}</h2>

{% include '_paste.html' %}

<form action="" method="GET">
    <p>Message <input type="text" name="message" id="message" class="paste"/></p>
    <input type="hidden" id="media"></input>
    <p><input type="submit" value="submit"/></p>
</form>

<br>

{% for message in messages %}
    <p>{{ message["user"] }}</p>
    
    <blockquote>
        <p><em>{{ message["text"] }}</em></p>
        {% if "://" in message["text"] or "data:image" in message["text"] %}
            <a href="{{ message['text'] }}">
                {{ message['text'] if message["text"]|length < 100 else 'Click here to view' }}
            <img src="{{ message['text'] }}"></img></a>
        
        {% else %}
            <p><em>{{ message["text"] }}</em></p>
        {% endif %}
        
    </blockquote>
{% endfor %}

{% include '_bottom.html' %}
