{% with title="Contact", description="Have any questions? Let me know!", image="desk.jpg" %} {% include '_top.html' %} {% endwith %}

<div class="text-box article-info">
    <p>Please keep in mind, I'm just a <a href="https://youtu.be/jiudBq7z8wk">human</a>, I can't and won't respond
        immediately.</p>
</div>

<table>
    <thead>
        <tr>
            <th>Platform</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="mailto:neostyxde@gmail.com"><button>E-Mail</button></a></td>
            <td><strong>Important inquiries</strong> - Please avoid sending me private information if it's not <a href="https://en.wikipedia.org/wiki/Email_encryption">securely encrypted</a>!</td>
        </tr>
        <tr>
            <td><a href="https://matrix.to/#/@onlix:matrix.org"><button>Matrix</button></a></td>
            <td><strong>Secure chatting</strong> - For messaging me about my projects and more. Doesn't have to be serious.</td>
    </tr>
        <tr>
            <td><a href="https://github.com/nsde"><button>GitHub¹</button></a></td>
            <td><strong>Software issues</strong> - Please use the "issues" tab of the appropriate repository to report bugs and suggest improvements to be made.</td>
        </tr>
    </tbody>
</table>

{% include "_bottom.html" %}