{% with title="ONLIX", description="Hello, and welcome to my website!" %} {% include '_top.html' %} {% endwith %}

<div class="text-box article-info">
    <p>Did you know? I created the (CSS) design of this website <strong>by myself</strong>! If you're interested, go <a
            href="https://github.com/nsde/lilacss">check it out</a>.</p>
</div>

<h3>My newest blog posts</h3>

<div class="featured post" onclick="window.location.href = '{{ posts[0].path }}'">
    <img src="{{ posts[0].path }}/image">
    
    <div class="content">
        <h5>{{ posts[0].last_update }}</h5>
        <h4>{{ posts[0].title }}</h4>
        <p>{{ posts[0].description }}</p>
    </div>
</div>

<div class="posts">
    {% for post in posts[1:] %}
    <div class="post" onclick="window.location.href = '{{ post.path }}'">
        <img src="{{ post.path }}/image">
        <div class="content">
            <h5>{{ post.last_update }}</h5>
            <h4>{{ post.title }}</h4>
            <p>{{ post.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% include "_bottom.html" %}