{% with title="Home", description="Hello I'm Felix, a student in Germany experimenting with tech, and welcome to my website!" %} {% include '_top.html' %} {% endwith %}

<p>My website currently only contains a blog, in which I give advice on software, hardware and more tech topics.
I'm usually a quite lazy, but I really wanted to learn HTML & CSS, so I made this whole
website pretty much from scratch. No stolen templates, no website builder, no third party CSS framework.
<br><br>
I started re-programming my whole blog in February of this year, so I had to learn a lot to get used to
web development. Because of that, there might be some slight problems, so please
<a href="https://github.com/nsde/web/issues/new">report issues</a>
on my GitHub! Thanks.
</p>

<h3>My newest blog posts</h3>

<div class="featured post" onclick="window.location.href = '{{ posts[0].path }}'">
    <img src="{{ posts[0].path }}/image">
    
    <div class="content">
        <h5>{{ posts[0].last_update }}</h5>
        <h4>{{ posts[0].title }}</h4>
        <p>{{ posts[0].description }}</p>
    </div>
</div>

<div class="posts">
    {% for post in posts[1:] %}
    <div class="post" onclick="window.location.href = '{{ post.path }}'">
        <img src="{{ post.path }}/image">
        <div class="content">
            <h5>{{ post.last_update }}</h5>
            <h4>{{ post.title }}</h4>
            <p>{{ post.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% include "_bottom.html" %}