{% with title="Home", description="Hey, I'm Felix, a tech savvy student in Germany. Welcome to my website!" %} {% include '_top.html' %} {% endwith %}

<h2>My website</h2>

<details>
    <summary>About my website</summary>
    <p>
        My website currently only contains a blog, in which I give advice on software, hardware and more tech topics.
        Did you know? I built this whole website pretty much from scratch. No stolen templates, no website builder,
        no third party CSS framework.
        <br><br>
        I started re-programming my whole blog in February of 2022. The website is still under active developement and
        I'm constantly testing new features to further improve the user experience.
        Because of that, there might be some slight problems here and there, so please
        <a href="https://github.com/nsde/web/issues/new">report issues</a>on my GitHub! Thanks.
    </p>
</details>

<details>
    <summary>Where can I find your full name/phone number?</summary>
    <p>
        Because I care about privacy, I don't publish my entire CV and personal data, including name, photo or phone number.
        If you want to get it touch with me though, there are a lot of options how you can do so listed in my "contacts" page:
        <a href="/contact"><button>Contact</button></a>
    </p>
</details>

<h2>Skills</h2>
<h3>Frameworks, Libraries & APIs</h3>
<ul>
    <li><a href="https://en.wikipedia.org/wiki/Tkinter">tkinter</a> · the standard Python interface to the Tcl/Tk GUI toolkit</li>
    <li><a href="https://en.wikipedia.org/wiki/Flask_(web_framework)">Flask</a> · a micro web framework written in Python</li>
    <li><a href="https://en.wikipedia.org/wiki/Requests_(software)">Requests</a> · a HTTP library for the Python programming language</li>
    <li><a href="https://en.wikipedia.org/wiki/Jinja_(template_engine)">Jinja2</a> · a web template engine for the Python programming language</li>
    <li><a href="https://en.wikipedia.org/wiki/Pickle_(Python)">Pickle</a> · Python object serialization tool</li>
    <li><a href="https://github.com/boppreh/keyboard">Keyboard</a> · a Python library for controlling the keyboard</li>
    <li><a href="https://github.com/boppreh/mouse">Mouse</a> · a Python library for controlling the mouse</li>
    <li><a href="https://github.com/Rapptz/discord.py">discord.py</a> · an API wrapper for Discord written in Python</li>
    <li><a href="https://github.com/Pycord-Development/pycord">pycord</a> · a maintained fork of discord.py with slash commands & more</li>
</ul>

<h3>Translating</h3>
I helped translating the following software from English into German (if not otherwise noted):

<ul>
    <li><a href="https://www.spigotmc.org/resources/essentialsx.9089/">EssentialsX</a> · a Minecraft server plugin</li>
    <li><a href="https://www.curseforge.com/minecraft/mc-mods/capes">Fabric Capes</a> · a Minecraft mod</li>
    <li><a href="https://www.curseforge.com/minecraft/modpacks/fabulously-optimized">Fabulously Optimized</a> · a Minecraft modpack</li>
    <li><a href="https://fabulously-optimized.gitbook.io/modpack">Fabulously Optimized Wiki</a> · a "wiki" (guide/documentation) on how to use the eponymous modpack</li>
    <li><a href="https://www.curseforge.com/minecraft/mc-mods/no-lan-cheating">No LAN Cheating</a> · a Minecraft mod</li>
    <li><a href="https://fosscord.com/">Fosscord</a> · a secure and open source social platform</li>
</ul>

<h2>My newest blog posts</h2> 
<a href="/blog"><button><i class="bi bi-newspaper"></i> All posts</button></a>
<br><br>

<div class="featured post" onclick="window.location.href = '{{ posts[0].path }}'">
    <img src="{{ posts[0].path }}/image">
    
    <div class="content">
        <h5>{{ posts[0].last_update }}</h5>
        <h4>{{ posts[0].title }}            {% if posts[0].wip %}
            <mark style="color: white; font-weight: bold;"><i class="bi bi-stars"></i> Coming soon...</mark>
        {% endif %}</h4>
        <p>{{ posts[0].description }}</p>
    </div>
</div>

<div class="posts">
    {% for post in posts[1:] %}
    <div class="post" onclick="window.location.href = '{{ post.path }}'">
        <img src="{{ post.path }}/image">
        <div class="content">
            <h5>{{ post.last_update }}</h5>
            <h4>{{ post.title }}</h4>
            <p>{{ post.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>

<br><hr>
<p>Cover photo by <a href="https://unsplash.com/@fakurian?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Milad Fakurian</a> on <a href="https://unsplash.com/@fakurian?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>

{% include "_bottom.html" %}