{% with title="Legal", description="Terms of Service, Privacy Policy", image="law.jpg" %}
{% include '_top.html' %}
{% endwith %}

<h2>Exceptions</h2>
<p>I sometimes <i>need</i> to store data for technical reasons.
    In this case, I'm doing my best to make it as private and secure as possible:
    personal information is usually encrypted/hashed and stored securely.

    The following exceptions describe <strong>what</strong> data is stored on <strong>which</strong> service.
    
    <ul>
        <li>As of right now, I don't store ANY personal data whatsoever.</li>
    </ul>
</p>

<h2>Privacy</h1>

<p>I simply (if not otherwise noted) don't track or store anything about you.
    No need to trust me, just take a look at <a href="https://github.com/nsde/web">this website's source code</a>.
</p>

<p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact me.</p>

<h2>Consent</h2>
<p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>

<h2>Children's Information</h2>
<p>Another part of our priority is adding protection for children while using the internet. We encourage parents and
    guardians to observe, participate in, and/or monitor and guide their online activity.</p>

{% include '_bottom.html' %}