{% with title="Legal", description="Terms of Service, Privacy Policy, License & more", image="law.jpg" %}
{% include '_top.html' %}
{% endwith %}

<h2 id="tos">Terms of Service</h2>
<p>By visiting and using this website, you agree to everything listed on this page, including but not limited to the license.</p>
<ul>
    <li><strong>The internet is dangerous.</strong> Clicking links is at your own risk. I check them before posting of course, but the internet is dynamic and content can change. This rule especially applies to user generated content.</li>
    <li><strong>To err is human.</strong> All information is supplied without guarantee. Errors and omissions excepted.</li>
    <li><strong>I am not <a href="https://www.forbes.com/sites/kateoflahertyuk/2021/11/13/why-facebooks-metaverse-is-a-privacy-nightmare/">Meta</a>.</strong> I only collect necessary information about you (and store it as safely as I can) - see below for more on that. Obviously, I <i>need</i> to store some data about you temporarily to make e.g. login systems work. Don't worry, I like to keep things minimal.</li>
    <li><strong>I am not a lawyer.</strong> I run this website in all conscience but I am not a lawyer and I have never studied laws. With that said... please don not sue me for a absurd reason.</li>
</ul>

<h2 id="license">License</h2>
<p>This website and its code is - if not otherwise noted - licensed under <a href="https://mit-license.org/">MIT</a>.</p>
<p>Please note that some assets, such as images and videos are not made by me (but e.g. Pixabay or Unsplash) and can have different licenses.</p>

<h2 id="privacy">Privacy Policy</h2>
<h3>Overview</h3>
<p>I sometimes <i>need</i> to store data for technical reasons.
    In this case, I am doing my best to make it as private and secure as possible:
    personal information is usually encrypted/hashed and stored securely.

    The following exceptions describe <strong>what</strong> data is stored on <strong>which</strong> service.
    
    <details>
        <summary>
            <strong>Entered form data/user generated content</strong>
        </summary>
        <ul>
            <li>REASON: For the website to function properly</li>
            <li>PAGES: Various, usually those with forms/input fields. Examples include NovaPort.</li>
            <img src="/images/novaport-legal.png">
        </ul>
    </details>
    <details>
        <summary>
            <strong><a href="https://security.stackexchange.com/questions/74113/do-i-have-to-hash-users-ip-addresses-when-i-log-them">Unhashed</a> IP address</strong>
        </summary>
        <ul>
            <li>REASON: I am only using this data to prevent spam and DDoS attacks.</li>
            <li>Why unhashed? <a href="https://skymonitor.com/why-hash-dont-anonimize-an-ip-address-and-what-this-affects-gdpr/">Because</a> firstly, they can easily be <a href="https://iphashes.com/">cracked with some websites</a> and also, I need to blacklist them.</li>
            <li>Obviously, I will not use the IP to track you or to sell this data to anyone. It is just stored on my servers and not shared with anyone else.</li>
            <li>Here s a screenshot of me getting thousands of requests in just a few seconds:</li>
            <li>PAGES: All </li>
            <img src="/images/spam.png">
        </ul>
    </details>
    <details>
        <summary>
            <strong><a href="https://www.ionos.com/digitalguide/hosting/technical-matters/what-are-session-cookies/">Session Cookies</a></strong>
        </summary>
        <ul>
            <li>REASON: To keep the user logged in.</li>
            <li>PAGES: Some (login, ...)</li>
            <img src="/images/session.png">
        </ul>
    </details>

</p>

<p>I simply - if not otherwise noted above - do not track or store anything about you.
    No need to trust me*, just take a look at <a href="https://github.com/nsde/web">this website's source code</a>.
</p>

<p>* <i>And yes, I am fully aware that I <strong>in theory (!)</strong> could run completely different code on my server, but I am not that kind of guy, seriously.</i></p>

<h3>Tracking/Telemetry</h3>
<img class="small" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcomicsandmemes.com%2Fwp-content%2Fuploads%2Fblank-meme-template-094-we-dont-do-that-here-black-panther.jpg&f=1&nofb=1">

<h3>Children's Information</h2>
<p>Another part of my priority is adding protection for children while using the internet. I encourage parents and
    guardians to observe, participate in, and/or monitor and guide their online activity.</p>
    
<p>If you have additional questions or require more information about privacy, terms of service or similar, do not hesitate to <a href="/contact">contact me</a>.</p>
{% include '_bottom.html' %}