{% with lite=True, title="Lorsche", description="An attempt at re-creating the Porsche website using LilaCSS, my own framework.", image="container.jpg" %} {% include '_top.html' %} {% endwith %}
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<body class="company no-grid reset-selection">
    <nav>
        <img class="branding" src="/images/lorsche.png">

        <!-- <img src="/images/car-epic.png">
        <img src="/images/car-epic.png">
        <img src="/images/car-epic.png">
        <img src="/images/car-epic.png"> -->
    </nav>

    <div class="carousel js-flickity"
        data-flickity-options='{ "wrapAround": true, "autoPlay": 5000, "pauseAutoPlayOnHover": false }'>
        <div class="carousel-cell">
            <img src="/images/highway-night.jpg">
        </div>
        <div class="carousel-cell">
            <img src="/images/racing-car.jpg">
        </div>
        <div class="carousel-cell">
            <img src="/images/car-epic.png">
        </div>
    </div>

    <h2 class="title">Models</h2>
    
    <div class="gallery">
        <div class="item">
            <img src="/images/car-edited.png">
            <div class="info">
                <div class="title">Panama</div>
                <div class="subtitle">From $ 42,000€*</div>
            </div>    
            <div class="buttons">
                <button class="primary"><i class="bi bi-gear-wide-connected"></i> Configure</button>
                <button class="secondary"><i class="bi bi-chevron-right"></i> More</button>
            </div>
        </div>
        <div class="item">
            <img src="/images/racing-car.jpg">
            <div class="info">
                <div class="title">Tucan</div>
                <div class="subtitle">From $ 42,000€*</div>
            </div>    
            <div class="buttons">
                <button class="primary"><i class="bi bi-gear-wide-connected"></i> Configure</button>
                <button class="secondary"><i class="bi bi-chevron-right"></i> More</button>
            </div>
        </div>
        <div class="item">
            <img src="/images/racing-car2.jpg">
            <div class="info">
                <div class="title">007</div>
                <div class="subtitle">From $ 42,000€*</div>
            </div>    
            <div class="buttons">
                <button class="primary"><i class="bi bi-gear-wide-connected"></i> Configure</button>
                <button class="secondary"><i class="bi bi-chevron-right"></i> More</button>
            </div>
        </div>
    </div>
    <div class="gallery">
        <div class="item">
            <img src="/images/racing-car3.jpg">
            <div class="info">
                <div class="title">Chayenne</div>
                <div class="subtitle">From $ 42,000€*</div>
            </div>    
            <div class="buttons">
                <button class="primary"><i class="bi bi-gear-wide-connected"></i> Configure</button>
                <button class="secondary"><i class="bi bi-chevron-right"></i> More</button>
            </div>
        </div>
        <div class="item">
            <img src="/images/car-edited.png">
            <div class="info">
                <div class="title">Pacan</div>
                <div class="subtitle">From $ 42,000€*</div>
            </div>    
            <div class="buttons">
                <button class="primary"><i class="bi bi-gear-wide-connected"></i> Configure</button>
                <button class="secondary"><i class="bi bi-chevron-right"></i> More</button>
            </div>
        </div>
        <div class="item">
            <img src="/images/car-epic.png">
            <div class="info">
                <div class="title">Clayman</div>
                <div class="subtitle">From $ 42,000€*</div>
            </div>    
            <div class="buttons">
                <button class="primary"><i class="bi bi-gear-wide-connected"></i> Configure</button>
                <button class="secondary"><i class="bi bi-chevron-right"></i> More</button>
            </div>
        </div>
    </div>
    
    <h2 class="title">Discover</h2>
    <div class="discover">
        <a href="#">
            <div class="tile">
                <img src="/images/sports-car.png">
                <a><i class="bi bi-chevron-right"></i> Sports cars</button></a>
            </div>
        </a>
        <a href="#">
            <div class="tile">
                <img src="/images/sports-car.png">
                <a><i class="bi bi-chevron-right"></i> Sports cars</button></a>
            </div>
        </a>
        <a href="#">
            <div class="tile">
                <img src="/images/sports-car.png">
                <a><i class="bi bi-chevron-right"></i> Sports cars</button></a>
            </div>
        </a>
        <a href="#">
            <div class="tile">
                <img src="/images/sports-car.png">
                <a><i class="bi bi-chevron-right"></i> Sports cars</button></a>
            </div>
        </a>
    </div>

    <div class="footer">
        <p>Ⓒ 2022 Example, Inc.
            <a href="#">Legal notice.</a>
            <a href="#">Privacy Notice.</a>
            <a href="#">Accessibility Statement.</a>
            <a href="#">Open Source Software Notice.</a>
        </p>

        <a href="#"><button><i class="bi bi-chevron-right"></i> Contact us</button></a>
        <a href="#"><button><i class="bi bi-chevron-right"></i> Recall Information</button></a>
        <a href="#"><button><i class="bi bi-chevron-right"></i> FAQ</button></a>
        <a href="#"><button><i class="bi bi-chevron-right"></i> Please sell my personal information</button></a>
    </div>
</body>


{% with lite=True %} {% include "_bottom.html" %} {% endwith %}