{% with title="LixModules", description="Module Dashboard (by the way: this is supposed to be public!)", image="hardware.jpg" %} {% include '_top.html' %} {% endwith %}

<h3><i class="bi bi-boxes"></i> Backend modules</h3>

<div class="posts">
    {% for module in modules %}
        <div class="post">
            <div class="content">
                <h4>
                {% if module.status == "active" %}
                    <i class="bi bi-check2-circle green"></i>
                {% elif module.status == "error" %}
                    <i class="bi bi-exclamation-octagon red"></i>
                {% else %}
                    <i class="bi bi-toggle2-off yellow"></i>
                {% endif %}
                
                {{ module.name }} <i class="bi bi-github blue" onclick="window.location.href='{{ module.url }}'"></i></h4>

                {% if module.decs %}
                    {% for dec in module.decs %}
                    <a href="https://onlix.me{{ dec }}"><button style="display: inline;"><i class="bi bi-boxes"></i> {{ dec }}</button></a>
                    {% endfor %}
                {% endif %}

                {% if module.error %}
                <br>
                <i class="bi bi-bug red"></i> <code>{{ module.error }}</code>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

<br>
<i><i class="bi bi-github"></i> Click on a module's GitHub icon to view its source code.</i>

{% include "_bottom.html" %}