{% with title="LixModules", description="Module Dashboard (by the way: this is supposed to be public!)", image="hardware.jpg" %} {% include '_top.html' %} {% endwith %}

<h3><i class="bi bi-boxes"></i> Backend modules</h3>

<div class="posts">
    {% for module in modules %}
        <div class="post" onclick="window.location.href='{{ module.url }}'">
            <div class="content">
                <h4>
                {% if module.status == "active" %}
                    <i class="bi bi-check2-circle green"></i>
                {% elif module.status == "error" %}
                    <i class="bi bi-exclamation-octagon red"></i>
                {% else %}
                    <i class="bi bi-toggle2-off yellow"></i>
                {% endif %}
                
                {{ module.name }}</h4>

                {% if module.decs %}
                    <p>
                        {% for dec in module.decs %}
                        <a href="https://onlix.me{{ dec }}"><button style="display: inline;">{{ dec }}</button></a>
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

<br>
<i><i class="bi bi-github"></i> Click on a module to view its code on GitHub</i>

{% include "_bottom.html" %}