{% with lite=True, title="NOVΛPORT", description="Import NOVΛLIX exports.", image="container.jpg" %} {% include '_top.html' %} {% endwith %}

<body class="cord no-grid">
    <div class="guild-bar">
        <div class="branding">
            <a href="/"><img src="https://cdn.discordapp.com/avatars/657900196189044736/20322d04bedc90c910d2c47cd0f08d4d.webp?size=128"></a>
        </div>
        
        <div class="guilds">
            <div class="current guild">
                <img src="https://cdn.discordapp.com/avatars/314090743830675466/e80729825db075d7bd36b460f5c14d56.webp?size=80">
            </div>
            <div class="guild">
                <img src="https://cdn.discordapp.com/avatars/657900196189044736/20322d04bedc90c910d2c47cd0f08d4d.webp?size=80">
            </div>
            <div class="guild">
                <img src="https://cdn.discordapp.com/avatars/235148962103951360/ed3dac3b6e7a851df781632a4295fcb9.webp?size=80">
            </div>
        </div>   
    </div>

    <div class="channel-bar">        
        <div class="guild-header">
            <span>My Community <!--<i class="bi bi-chevron-down"></i>--></span>
        </div>
        
        <div class="channels">
            <div class="current channel">
                <span><i class="bi bi-hash"></i>general</span>
            </div>
            <div class="unread channel">
                <span><i class="bi bi-hash"></i>memes</span>
            </div>
            <div class="channel">
                <span><i class="bi bi-hash"></i>spam-test</span>
            </div>
        </div>
    </div>

    <div class="channel-box">
        <div class="channel-top">
            <div class="name">
                <span class="name"><i class="bi bi-hash"></i>general</span>
            </div>
        </div>
        <div class="messages">
            <div class="message">
                <img class="avatar" src="https://cdn.discordapp.com/avatars/657900196189044736/20322d04bedc90c910d2c47cd0f08d4d.webp?size=80">
                <div class="box">
                    <span class="author">ONLIX</span>
                    <span class="time">25/05/2022</span>
                    <div class="content">
                        <span class="text">These are just test messages!</span>
                    </div>
                    <div class="reactions">
                        <div class="reaction">
                            <span class="emoji">👍</span>
                            <span class="count">5</span>
                        </div>
                        <div class="reaction">
                            <span class="emoji">✨</span>
                            <span class="count">3</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="message">
                <img class="avatar" src="https://cdn.discordapp.com/avatars/657900196189044736/20322d04bedc90c910d2c47cd0f08d4d.webp?size=80">
                <div class="box">
                    <span class="author">ONLIX</span>
                    <span class="time">25/05/2022</span>
                    <div class="content">
                        <span class="text">Hello there!</span>
                    </div>
                </div>
            </div>
            <div class="message">
                <img class="avatar" src="https://cdn.discordapp.com/avatars/657900196189044736/20322d04bedc90c910d2c47cd0f08d4d.webp?size=80">
                <div class="box">
                    <span class="author">ONLIX</span>
                    <span class="time">25/05/2022</span>
                    <div class="content">
                        <span class="text">Hi :)</span>
                    </div>
                </div>
            </div>
            <div class="message">
                <img class="avatar" src="https://cdn.discordapp.com/avatars/657900196189044736/20322d04bedc90c910d2c47cd0f08d4d.webp?size=80">
                <div class="box">
                    <span class="author">ONLIX</span>
                    <span class="time">25/05/2022</span>
                    <div class="content">
                        <span class="text">Eius omnis incidunt non facilis recusandae. Est et recusandae nemo amet aut ad. Voluptas a at nisi laboriosam voluptates est ea. Enim atque sint et dolore tempore dolores alias laudantium. Veritatis non adipisci ea ea nemo ipsam rerum.
Alias modi <strong>expedita voluptatem</strong> beatae hic. Et modi perferendis tempore. Perspiciatis accusantium maxime aut doloribus.                            
Libero <i>laboriosam</i> qui molestiae quasi perspiciatis aperiam sunt est. Molestiae fugiat at fugit quo ratione quo. Ullam perspiciatis dolores voluptatem. Libero esse autem earum. Dignissimos accusantium sed sed sed quia ab. Laboriosam sunt labore qui ullam commodi.

Libero illum veritatis <u>asperiores</u> suscipit. Earum deserunt odio quia necessitatibus et et aperiam. Sint necessitatibus ipsa illum consequatur quo harum. Harum assumenda ullam est voluptas cumque harum. Quas quis ducimus harum nemo eos sapiente omnis. Voluptas est aut nam odio voluptas.
<a href="https://www.youtube-nocookie.com/watch?v=dQw4w9WgXcQ">https://youtu.be/dQw4w9WgXcQ</a>
Non aliquid aut ipsam illo et optio tenetur. Delectus enim exercitationem nostrum eveniet. Doloribus culpa dicta eius sint magni hic. Voluptas quia ullam nihil. Incidunt et sit aut consequatur et cumque quam deserunt. Enim cumque sit autem in in minus cum sed.</span>
                    </div>
                </div>
            </div>
            <div class="message">
                <img class="avatar" src="https://cdn.discordapp.com/avatars/657900196189044736/20322d04bedc90c910d2c47cd0f08d4d.webp?size=80">
                <div class="box">
                    <span class="author">ONLIX</span>
                    <span class="time">25/05/2022</span>
                    <div class="content">
                        <span class="text">Take a look at this picture!</span>
                        <img src="/images/wonderful.jpg">
                        <span class="text">Even GIFs work!</span>
                        <img src="https://c.tenor.com/H15IIZOPbMwAAAAd/hackerman-mr.gif">
                        <div class="tenor-gif-embed" data-postid="12747764" data-share-method="host" data-aspect-ratio="1" data-width="100%">
                            <a href="https://tenor.com/view/hackerman-mr-gif-12747764">Hackerman Mr GIF</a>
                            from <a href="https://tenor.com/search/hackerman-gifs">Hackerman GIFs</a>
                        </div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
                        <span class="text">YouTube videos do, as well:</span>
                        <div class="youtube">
                            <span>YouTube</span>
                            <a href="https://www.youtube-nocookie.com/watch?v=dQw4w9WgXcQ">https://youtu.be/dQw4w9WgXcQ</a>
                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <x id="↓"></x>
</body>


{% with lite=True %} {% include "_bottom.html" %} {% endwith %}