{% with title="LixShare", description="Share your files on my server!", image="mobile.jpg" %} {% include '_top.html' %} {% endwith %}

<h3><i class="bi bi-cloud-arrow-up"></i> Simply choose a file to get started</h3>
<h5>Limit: 2 GB / file</h5>

<p>By submitting a file, you agree to <a href="/legal">the legal document</a>!</p>

<form method="post" enctype="multipart/form-data">
    <p><i class="bi bi-plus-circle"></i> You can also <strong>drag and drop a file</strong> below ↓</p>
    
    <input type="file" name="file" style="height: 10rem;">
    <br>
    <input type="submit" value="Upload" style="font-weight: bold;">
</form>

<p><i class="bi bi-info"></i> It is normal that when uploading a large file, the website takes a long time. I'm too lazy to code a progress bar at the moment ;)</p>

<a href="/contact"><button><i class="bi bi-flag"></i> Report abuse</button></a>

{% include "_bottom.html" %}