{% with title="My Skills", description="What I'm good at :)" %} {% include '_top.html' %} {% endwith %}

<h2>Skills</h2>
<h3>Programming Languages & similar</h3>
I'll list markup languages (such as HTML) in here as well to keep things simple.
Additionally, this list also includes important frameworks.
<br>
<strong>⭐ = Favorite</strong>
<strong>🪦 = Not often anymore</strong>

<ul>
    <li>Python ⭐</li>
    <li>HTML ⭐</li>
    <li>CSS</li>
    <ul>
        <li>SASS ⭐</li>
    </ul>
    <li>Java</li>
    <li>Unix/NT Shell Scripting</li>
    <ul>
        <li>Shell</li>
        <li>Batchfile 🪦</li>
    </ul>
    <li>VBA 🪦</li>
    <li>JavaScript</li>
</ul>

<h3>Software</h3>
<h4>Media & Office</h4>
<ul>
    <li><a href="https://diagrams.net/">draw.io (diagrams.net)</a> <mark class="small">FOSS</mark> · open source diagram creation tool</li>
    <li><a href="https://www.audacityteam.org/">Audacity</a> <mark class="small">FOSS</mark> · audio editor</li>
    <li><a href="https://gimp.org/">GIMP</a> <mark class="small">FOSS</mark> · GNU image manipulation program</li>
    <li><a href="https://libreoffice.org/">LibreOffice</a> <mark class="small">FOSS</mark> · office software</li>
    <li><a href="https://shotcut.org/">Shotcut</a> <mark class="small">FOSS</mark> · simple video editor</li>
    <li><a href="https://getpaint.net/">Paint.NET</a> · closed source image editor for Windows only</li>
</ul>

<h4>Tech</h4>
<ul>
    <li><a href="https://www.virtualbox.org/">VirtualBox</a> <mark class="small">FOSS</mark> · virtual machine manager</li>
    <li><a href="https://code.visualstudio.com/">VisualStudio Code</a> <mark class="small">FOSS</mark> · code editor maintained by Microsoft</li>
    <li><a href="https://filezilla-project.org/">FileZilla</a> <mark class="small">FOSS</mark> · FTP application</li>
    <li><a href="https://git-scm.com/">Git</a> <mark class="small">FOSS</mark> · version control system</li>
    <li><a href="https://github.com/">GitHub</a> · provider of Internet hosting for software development and version control using Git</li>
    <li><a href="https://www.jetbrains.com/idea/">IntelliJ</a> · IDE for Java development</li>
</ul>

<h4>Operating Systems</h4>
<ul>
    <li><a href="https://ubuntu.org/">Ubuntu</a> <mark class="small">FOSS</mark> · one of the most popular Linux desktop operating systems out there</li>
    <li><a href="https://debian.org/">Debian</a> <mark class="small">FOSS</mark> · (mainly) server operating system</li>
    <li><a href="https://linuxmint.com/">Linux Mint</a> <mark class="small">FOSS</mark> · a fork of Ubuntu focused on the "out-of-the-box"-experience</li>
    <li><a href="https://pop.system76.com/">Pop!_OS</a> <mark class="small">FOSS</mark> · another fork of Ubuntu</li>
    <li><a href="https://endeavouros.com/">EndeavourOS</a> <mark class="small">FOSS</mark> · based on Arch Linux</li>
    <li><a href="https://www.microsoft.com/de-de/software-download/windows10">Windows 10</a> · mainstream desktop operating system</li>
</ul>

<h3>Frameworks, Libraries & APIs <mark class="small">(all) FOSS</mark></h3>
<ul>
    <li><a href="https://en.wikipedia.org/wiki/Tkinter">tkinter</a> · the standard Python interface to the Tcl/Tk GUI toolkit</li>
    <li><a href="https://en.wikipedia.org/wiki/Flask_(web_framework)">Flask</a> · micro web framework written in Python</li>
    <li><a href="https://en.wikipedia.org/wiki/Requests_(software)">Requests</a> · HTTP library for the Python programming language</li>
    <li><a href="https://en.wikipedia.org/wiki/Jinja_(template_engine)">Jinja2</a> · web template engine for the Python programming language</li>
    <li><a href="https://en.wikipedia.org/wiki/Pickle_(Python)">Pickle</a> · Python object serialization tool</li>
    <li><a href="https://github.com/boppreh/keyboard">Keyboard</a> · Python library for controlling the keyboard</li>
    <li><a href="https://github.com/boppreh/mouse">Mouse</a> · Python library for controlling the mouse</li>
    <li><a href="https://github.com/Rapptz/discord.py">discord.py</a> · API wrapper for Discord written in Python</li>
    <li><a href="https://github.com/Pycord-Development/pycord">pycord</a> · maintained fork of discord.py with slash commands & more</li>
</ul>

<h3>Translating</h3>
I'm a native German speaker, though I have a lot of experience in English, especially listening/reading ("input").
I helped translating the following software from English into German (if not otherwise noted):

<ul>
    <li><a href="https://www.spigotmc.org/resources/essentialsx.9089/">EssentialsX</a> <mark class="small">FOSS</mark> · a Minecraft server plugin</li>
    <li><a href="https://www.curseforge.com/minecraft/mc-mods/capes">Fabric Capes</a> <mark class="small">FOSS</mark> · a Minecraft mod</li>
    <li><a href="https://www.curseforge.com/minecraft/modpacks/fabulously-optimized">Fabulously Optimized</a> <mark class="small">FOSS</mark> · a Minecraft modpack</li>
    <li><a href="https://fabulously-optimized.gitbook.io/modpack">Fabulously Optimized Wiki</a> <mark class="small">FOSS</mark> · a "wiki" (guide/documentation) on how to use the eponymous modpack</li>
    <li><a href="https://www.curseforge.com/minecraft/mc-mods/no-lan-cheating">No LAN Cheating</a> <mark class="small">FOSS</mark> · a Minecraft mod</li>
    <li><a href="https://fosscord.com/">Fosscord</a> <mark class="small">FOSS (duh<a href="https://media.tenor.com/images/4c690a3edb0cf9e7becb7422166946dc/tenor.gif">.</a>)</mark> · a secure and open source social platform</li>
</ul>

{% include "_bottom.html" %}
