{% with title="Status Page", description="Technical server-information", image="hardware.jpg" %} {% include '_top.html' %} {% endwith %}

    <p><a href="status/mc" class="link">Minecraft Stats</a> (only works if the Minecraft server is actually online, of course)</p>

    <h2>Software</h1>
    
    <table id="software">
        <tr>
            <th>Detail</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Process Count</td>
            <td>{{ pids }}</td>
        </tr>
        <tr>
            <td>Last boot</td>
            <td>{{ boot_days }} days ago</td>
        </tr>
        <tr>
            <td>Operating System</td>
            <td>{{ os }}</td>
        </tr>
        <tr>
            <td>Upload Limit</td>
            <td>100 MB</td>
        </tr>
        <tr>
            <td>Rate Limiting</td>
            <td>✅</td>
        </tr>
        <tr>
            <td>DNSSec</td>
            <td>✅</td>
        </tr>
        <tr>
            <td>Onion Routing</td>
            <td>✅</td>
        </tr>
        <tr>
            <td>IPv6</td>
            <td>✅</td>
        </tr>
        <tr>
            <td>HTTPS support</td>
            <td>✅ 2 & 3 (with QUIC)</td>
        </tr>
        <tr>
            <td>SLL/TLS</td>
            <td>✅ End-to-end encrypted, self signed certificate</td>
        </tr>
        <tr>
            <td>Always HTTPS</td>
            <td>✅</td>
        </tr>
        
    </table>
    
    <br>

    <h2>Hardware</h1>
        <table id="hardware">
            <tr>
                <th>Part</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>CPU</td>
                <td>{{ cpus }}/{{ threads }} vCores @ {{ cpu }}%</td>
            </tr>
            <tr>
                <td>RAM</td>
                <td>{{ ram }}</td>
            </tr>
            <tr>
                <td>NVMe</td>
                <td>{{ disk }}</td>
            </tr>
        </table>

{% include '_bottom.html' %}
